.hidden.menu {
	display: none;
}

.ui.inline.image {
  height: 1em;
  width: auto;
  vertical-align: baseline;
}

.masthead.segment {
	height: 700px;
	padding: 1em 0em;
	background-image: url(images/cologne.jpg) !important;
	background-size: cover !important;
	overflow: hidden;
}

.masthead.segment .ui.secondary.inverted.pointing.menu {
	border-width: 0;
}

.masthead.segment > .ui.background.image {
	position: absolute;
	height: 700px;
	width: auto;
	top: 0;
	left: 0;
	max-width: none;
	z-index: 1;
}

.masthead.segment > .ui.container {
	position: relative;
	z-index: 2;
}

.masthead .logo.item img {
	margin-right: 1em;
}
.masthead .ui.menu .ui.button {
	margin-left: 0.5em;
}

.masthead .ui.menu .item.cover-logo {
	padding-top: 0;
	padding-bottom: 0.5em;
}

.masthead .ui.menu .item.cover-logo img {
	width: auto;
}

.masthead h1.ui.header {
	margin-top: 0.5em;
	margin-bottom: 0em;
	font-size: 8em;
	font-weight: normal;
	text-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
	color: white;
}
.masthead h2 {
	font-size: 2em;
	margin-bottom: 1em;
	font-weight: normal;
	text-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);
	color: white;
}
.masthead .huge.primary.button {
	margin-top: 1.5em;
}

.ui.vertical.stripe {
	padding: 8em 0em;
}
.ui.vertical.stripe h3 {
	font-size: 2em;
}
.ui.vertical.stripe .button + h3,
.ui.vertical.stripe p + h3 {
	margin-top: 3em;
}
.ui.vertical.stripe .floated.image {
	clear: both;
}
.ui.vertical.stripe p {
	font-size: 1.33em;
}
.ui.vertical.stripe .horizontal.divider {
	margin: 3em 0em;
}

.quote.stripe.segment {
	padding: 0em;
}
.quote.stripe.segment .grid .column {
	padding-top: 5em;
	padding-bottom: 5em;
}

.footer.segment {
	padding: 5em 0em;
}

.secondary.pointing.menu .toc.item {
	display: none;
}

.cover .ui.primary.button,
.cover .ui.toggle.checkbox input:checked~.box:before,
.cover .ui.toggle.checkbox input:checked~label:before {
	background-color: #C8102E !important;
}

.cover .ui.primary.button:hover,
.cover .ui.toggle.checkbox:hover input:checked~.box:before,
.cover .ui.toggle.checkbox:hover input:checked~label:before {
	background-color: #B20A2C !important;
}

.cover .ui.horizontal.divider {
	overflow: visible;
}

@media only screen and (max-width: 700px) {
	.ui.fixed.menu {
		display: none !important;
	}
	.secondary.pointing.menu .item,
	.secondary.pointing.menu .menu {
		display: none;
	}
	.secondary.pointing.menu .toc.item {
		display: block;
	}
	.masthead.segment {
		min-height: 350px;
	}
	.masthead h1.ui.header {
		font-size: 2em;
		margin-top: 1.5em;
	}
	.masthead h2 {
		margin-top: 0.5em;
		font-size: 1.5em;
	}
}

#schedule p.extra {
	margin-top: 1em;
	color: #ccc;
	text-align: center;
	font-size: 1.071rem;
}